
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eceff0;
    min-height: 100vh; /* Asegura que el contenedor tenga al menos el alto de la ventana */
    background-size: cover;
    background-image: radial-gradient(circle at 67% 83%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, rgba(245,245,245, 0.18) 0%, rgba(245,245,245, 0.18) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgba(207,36,22, 0.53),rgba(215,54,7, 0.06));
    flex-wrap: wrap; /* Permite que los elementos hijos se envuelvan */
  }

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  

  button {
    width: 100%;
    max-width: 200px;
    background-color: rgba(207,36,22, 0.53);
    border-color: rgba(207,36,22, 0.53);
    font-family: "Roboto", sans-serif;
    margin: 20px 0;
  }
  
  button:hover {
    background-color: rgba(207, 36, 22, 1); /* Rojo sólido */
    border-color: rgba(207, 36, 22, 1); /* Rojo sólido */
  }
  
  .alert {
    text-align: center;
  }
  
  a.btn-success {
    display: inline-block;
    margin-top: 20px;
  }
  